@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@font-face {
  font-family: 'phosphatesolid';
  src: url('../fonts/phosphate-solid-webfont.woff2') format('woff2'),
  url('../fonts/phosphate-solid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}