.game{
  .logo {
    margin-bottom: 55px;
    img{
      height: 134px;
    }
  }

  .v-center{
    width: 868px;
    max-width: 95%;
  }

  .slider{
    text-align: center;
    width: 100%;
    position: relative;

    .image{
      display: inline-block;
      border: solid 10px white;
      position: relative;
      z-index: 2;
      box-shadow: 5px 5px 0 rgba(#000, .1);
      cursor: move;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      @include transition(transform .3s, box-shadow .3s);

      &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
      }
    }

    .bg-slider{
      position: absolute;
      top: 50%;
      display: block;
      height: 100%;
      z-index: 1;
      width: 100%;
      left: 0;
      @include translate(0, -50%);

      &:after{
        content: '';
        width: calc(100% - 298px);
        background-color: white;
        height: 7px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
      }

      .bullet{
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        @include translate(0, -50%);
        height: 80px;
        width: 80px;
        border-radius: 50%;
        left: 69px;
        border: solid 5px white;
        background-image: url('../images/arrow-left.svg');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;


        &.right{
          background-image: url('../images/arrow-right.svg');
          right: 69px;
          left: auto;
        }
      }

      @include bp(xs){
        display: none;
      }
    }
  }

  .score{
    margin-top: 48px;
  }

  &.right-selected{
    @include bp(min-sm){
      .gauche, .droite{
        width: 50% !important;
      }
      .slider{
        text-align: right;

        .image{
          left: 0 !important;
        }
      }
    }


    .gauche{
      opacity: .7;
    }
  }

  &.left-selected{
    @include bp(min-sm){
      .gauche, .droite{
        width: 50% !important;
      }
      .slider{
        text-align: left;

        .image{
          left: 0 !important;
        }
      }
    }

    .droite{
      opacity: .7;
    }
  }

  .slider .image{
    .left-choice, .right-choice{
      display: none;
    }
  }

  @include bp(xs){
    .slider .image{
      .left-choice {
        position: absolute;
        display: block;
        top: 0;
        @include translate(0, -100%);
        margin-top: -40px;
        text-align: center;
        left: 0;
        width: 100%;
        text-transform: uppercase;
        font-family: $phosphatesolid;
        letter-spacing: 1.2px;
        font-size: 32px;
      }
      .right-choice{
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        @include translate(0, 100%);
        margin-bottom: -50px;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        font-family: $phosphatesolid;
        letter-spacing: 1.2px;
        font-size: 32px;
      }
    }
  }

  &.response{
    .slider{
      .validator{
        transform: scale(1) translate(-50%, -50%);
        -moz-transform: scale(1) translate(-50%, -50%);
        -webkit-transform: scale(1) translate(-50%, -50%);
        -ms-transform: scale(1) translate(-50%, -50%);

        @include bp(xs){
          height: 64px;
          width: 64px;
          background-size: 25px;
          top: 5px;
        }
      }

      .image{
        position: relative;
        .valid-or-not {
          position: absolute;
          top: 0;
          @include translate(0, -100%);
          margin-top: -20px;
          text-align: center;
          width: 100%;
          text-transform: uppercase;
          font-family: $phosphatesolid;
          letter-spacing: 1.2px;
          font-size: 25px;

          @include bp(xs){
            margin-top: -45px;
          }
        }
        .candidat-infos{
          position: absolute;
          bottom: 0;
          @include translate(0, 100%);
          margin-bottom: -30px;
          text-align: center;
          width: 100%;

          .name{
            text-transform: uppercase;
            font-family: $phosphatesolid;
            letter-spacing: 1.2px;
            font-size: 20px;
            display: block;
          }

          .parti{
            font-family: $font-playfair;
            letter-spacing: 1.2px;
            font-size: 16px;
          }
        }
      }
    }

    @include bp(xs){
      .v-center{
        margin-top: 50px;

        .button{
          margin-top: 90px;
        }
      }
    }
  }
}

.score{
  color: white;
  font-family: $phosphatesolid;
  font-size: 45px;
  letter-spacing: 1px;

  span{
    font-size: 30px;
  }
}

body{
  &.response-wrong{
    .validator{
      background-image: url('../images/wrong.svg');
    }
  }

  &.response-correct{
    .validator{
      background-image: url('../images/correct.svg');
    }
  }
}

.endgame{
  .logo {
    img{
      height: 134px;
    }

    @include bp(xs){
      display: none;
    }
  }

  .validator{
    position: relative;
    height: 100px;
    width: 100px;
    left: auto;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    margin-bottom: 30px;
  }
}