html{
  height: 100%;
  width: 100%;
  display: block;
}
body{
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  color: white;

  @include bp(min-sm){
    &.left-hover{
      .gauche{
        width: 60%;
      }
      .droite{
        width: 40%;
      }
    }

    &.right-hover{
      .droite{
        width: 60%;
      }
      .gauche{
        width: 40%;
      }
    }
  }
  
  @include bp(xs){
    &:not(.home){
      .logo{
        display: none;
      }
    }
  }
}

.v-center{
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  @include translate(-50%, -50%);

  .logo{
    margin-bottom: 50px;
  }

  @include bp(xs){
    max-width: 95%;

    .logo {
      margin-bottom: 20px;
      img {
        height: 145px;
      }
    }
  }
}

footer{
  font-size: 10px;
  font-family:arial, sans-serif;
  font-style: italic;
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  left: 0;
  pointer-events: none;
  z-index: 3;
  opacity: .8;
}

.gauche, .droite{
  width: 50%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: $blue;
  @include transition(width .5s);
}

.gauche{
  left: 0;
  right: auto;
  background-color: $red;
}

@include bp(xs){
  .gauche, .droite{
    width: 100%;
    height: 50%;
    display: block;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: $blue;
    @include transition(width .5s);
  }

  .gauche{
    top: 0;
    bottom: auto;
    background-color: $red;
  }
}

.main{
  position: relative;
  z-index: 2;
}

#godContainer{
  position: fixed;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.border{
  position: fixed;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  z-index: 3;
  height: 100%;
  border: solid 15px white;
  animation: borderAnim .6s;
  -ms-animation: borderAnim .6s;
  -webkit-animation: borderAnim .6s;
  -moz-animation: borderAnim .6s;

  @include bp(xs){
    border: solid 10px white;
  }
}

@keyframes borderAnim {
  from{border: solid 0 white;}
  to{border: solid 15px white;}
}

@-webkit-keyframes borderAnim {
  from{border: solid 0 white;}
  to{border: solid 15px white;}
}

@include bp(xs){
  @keyframes borderAnim {
    from{border: solid 0 white;}
    to{border: solid 10px white;}
  }

  @-webkit-keyframes borderAnim {
    from{border: solid 0 white;}
    to{border: solid 10px white;}
  }
}

button, .button{
  color: white;
  text-decoration: none;
  border: solid 3px white;
  font-weight: bold;
  padding: 17px 70px 15px 70px;
  text-transform: uppercase;
  font-family: 'phosphatesolid', arial, sans-serif;
  outline: none;
  letter-spacing: 1.8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(white, .2);
  box-shadow: 5px 5px 0 rgba(#000, .1);
  @include transition(all .3s);
  display: inline-block;

  &:hover{
    background: rgba(white, .4);
    color: white;
    text-decoration: none;
  }
  &:active{
    @include translate(2px, 2px);
    box-shadow: 3px 3px 0 rgba(#000, .1);
    color: white;
    text-decoration: none;
  }
}

.text{
  font-family:$font-playfair;
  font-weight: bold;
  letter-spacing: .4px;
  font-size: 16px;
  line-height: 25px;
  @include bp(xs){
    padding: 0 30px;
  }
}

.home{
  button, .button{
    margin-top: 20px;
  }
}

.validator{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120px;
  z-index: 4;
  width: 120px;
  border-radius: 50%;
  background: white;
  display: inline-block;
  transform: scale(0) translate(-50%, -50%);
  -moz-transform: scale(0) translate(-50%, -50%);
  -webkit-transform: scale(0) translate(-50%, -50%);
  -ms-transform: scale(0) translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
}